<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://unpkg.com/vue@3.0.0/dist/vue.global.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
  <div class="container-lg">
    <div class="mb-3">
      <div>
        <span style="font-size: 2em; font-weight: bold;">Translator</span>
      </div>
    </div>
    <div id="app">
      <div class="row">
        <div class="col-sm">
          <div class="mb-3">
            <select v-model="srcLang" v-on:change="translate" class="form-select">
              <option value="auto">自動</option>
              <option v-for="(e, i) in lang" v-bind:value="e.code">{{e.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <textarea v-model="srcText" v-on:input="translate" class="form-control" rows="20" placeholder="テキストを入力してください"></textarea>
          </div>
        </div>
        <div class="col-sm">
          <div class="mb-3">
            <select v-model="dstLang" v-on:change="translate" class="form-select">
              <option v-for="(e, i) in lang" v-bind:value="e.code">{{e.name}}</option>
            </select>
          </div>
          <div class="mb-3">
            <textarea v-model="dstText" class="form-control" rows="20"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script>
    Vue.createApp({
      data() {
        return {
          lang: [
            {code: "ja"   , name: "日本語"},
            {code: "en"   , name: "英語"},
            {code: "fr"   , name: "フランス語"},
            {code: "de"   , name: "ドイツ語"},
            {code: "ko"   , name: "韓国語"},
            {code: "zh"   , name: "簡体字中国語"},
            {code: "zh-TW", name: "繁体字中国語"}
          ],
          srcLang: "auto",
          dstLang: "ja",
          srcText: "",
          dstText: "",
          stage: (
            () => {
              let match = location.pathname.match(/^\/([^\/]*)/)
              if (!match[1]) {
                return "dev";
              } else {
                return match[1];
              }
            }
          )(),
        }
      },
      methods: {
        translate(e) {
          console.log("stage: ", this.stage);
          let that = this;
          let url = "/dev/api/translate"
          //console.log(url)
          console.log(this.srcText)
          axios.post(url, {
            text: this.srcText,
            src_lang: this.srcLang,
            dst_lang: this.dstLang,
          })
            .then(function (response) { // リクエスト成功時
              console.log(response.data.result.text)
              that.dstText = response.data.result.text
            })
            .catch(function (error) { // リクエスト失敗時の処理
              console.log(error)
            })
            .then(function () { // リクエスト後に必ず実行される処理
              console.log("finaly")
            })
        }
      }

    }).mount("#app")
  </script>

</body>
</html>
